@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0b0b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
    height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

nav {
    background-color:grey;
    flex-grow: 1;
}

.home {
    background-color: rgb(99, 98, 98);
    flex-grow: 12;
    display: flex;
    flex-direction: column;
    
}

.title, .instructions, .footer {
    flex-grow: 1;
}

.songs {
    flex-grow: 5;
}

.title, .instructions, .songs, .footer {
    display: flex;
    justify-content: center;
}