@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.no_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}
/* ------------------------------ PAGE LAYOUT ------------------------------ */





/* ------------------------------ SONGS LAYOUT ------------------------------ */

/* ------------------------------ PAGE STYLING ------------------------------ */

/* ------------------------------ Song Card Styling ------------------------------ */


/* ------------------------------ Student Counter Styling ------------------------------ */

.student_counter {
    background-color: #FFBA4C;
    border: #333333;
    position: fixed;
    right: 5%;
    bottom: 5%;
    height: 70px;
    width: 200px;

    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1vh 1vw 1vh 1vw;

}


/* ------------------------------ Form Component Styling ------------------------------ */

.form {
    width: 350px;
    height: 400px;
    background-color: #FFF8E1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.form_heading {
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    margin-top: 10%;
}                                                      

.form_input {
    margin-top: 2vh;
    margin-left: 20%;
    padding: 1%;
    display: block;
    width: 60%;
}

input {
    background-color: #FFF8E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-left: 2%;
}

.error {
    border: 1px solid red;
}

.form_error {
    color: red;
    margin-top: 1vh;
    margin-bottom: -1vh;
    margin-left: 20%;

}

.form_msg {
    margin-top: 1vh;
    margin-bottom: -1vh;
    margin-left: 20%;
}

.form_submit_btn {
    width: 50%;
    margin-left: 50%;
    margin-top: 15%;
    transform: translate(-50%, -50%);

    background-color: #926e9e;
    border-radius: 3px;
    padding: 2% 0 2% 0;
}

/* ------------------------------ Overlay Styling ------------------------------ */

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #926e9e;
}

/* ------------------------------ Certificates Display Styling ------------------------------ */

.certificates {
    text-align: center;
    margin-top: 5%;
}

.cert_url {
    margin-top: 5%;
    text-decoration: underline;
}

.scroll_box {
    max-height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll_box::-webkit-scrollbar {
    display: none;
}