@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  background-color: #FAEBD7;
}

/* LAYOUT */

nav {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    background-color:#ecc2a8;
    width: 10%;
    position: fixed;
    height: 100%;
}

.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
/* layout of page excluding nav */
.title, .instructions, .footer {
    flex-grow: 1;
}

.songs {
    flex-grow: 5;
}

.title, .instructions, .songs, .footer {
    display: flex;
    justify-content: center;
}
.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.instructions {
    margin-bottom: 2rem;
}

/* layout of songs */

.songs {
    flex-direction: column;
    row-gap: 3vh;
}

.song_row {
    margin-left: 25%;
    margin-right: 40%;
    flex: 1;
    box-shadow: 10px 10px 8px #FFF8E1;
    border-radius: 0.5rem;
}


.audio_controls {
    margin-top: 1rem;
}

/* STYLING */

.background {
    background-color: #F4F1DE;
}

.song_background {
    background-color: #ffffff;
}

.text_colour {
    color: #be2406;
}

/* .song_background {
    background-image: url('../public/Shiv And Vishnu Together.jpg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.15;
} */

.title {
    font-size: x-large;
    font-weight: bold;
}

.instructions {
    font-style: italic;
}

.song_title {
    font-size: larger;
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

/*Nav Bar Styling*/
.dropdown_btn {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    margin-top: 1vh;
}

.dropdown_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10vh;
    overflow-y: scroll;
}

.hide {
    display: none;
}

.dropdown_item {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #aa1949;
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
}

.toggle_icon {
    margin-left: 0.5rem;
}

.profile_pic {
    opacity: 85%;
    width: 100%;
    display: block;
}