@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0b0b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
    height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

nav {
    background-color:grey;
    width: 10%;
}

.home {
    background-color: rgb(99, 98, 98);
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
/* layout of page excluding nav */
.title, .instructions, .footer {
    flex-grow: 1;
}

.songs {
    flex-grow: 5;
}

.title, .instructions, .songs, .footer {
    display: flex;
    justify-content: center;
}

/* layout of songs */

.songs {
    flex-direction: column;
    align-items: start; /*understand why this worked*/
}

.verse {
    flex: 1;
    padding-left: 25%;
}
