@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.hide {
    display: none;
}

/* ------------------------------ PAGE LAYOUT ------------------------------ */

.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    width: 10%;
    position: fixed;
    height: 100%;
}

.title, .instructions {
    flex-grow: 1;
}

.songs {
    flex-grow: 5;
}

.title, .instructions, .songs {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.instructions {
    margin-bottom: 3vh;
}

/* ------------------------------ SONGS LAYOUT ------------------------------ */

.songs {
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    margin-bottom: 6vh;
}

.song_row {
    width: 40vw;
    box-shadow: 10px 10px 8px #FFF8E1;
    border-radius: 4;
}

.audio_controls {
    margin-top: 2vh;
}

/* ------------------------------ PAGE STYLING ------------------------------ */

.background {
    background-color: #FFF8E7;
}

.navbar_background {
    background-color: #FFBA4C;
    color: #333333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.song_background {
    background-color: #FFF8E7;
}   

.text_colour {
    color: #333333;
}

/* .song_background {
    background-image: url('../public/Shiv And Vishnu Together.jpg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.15;
} */

.title {
    font-size: x-large;
    font-weight: bold;
}

.instructions {
    font-style: italic;
}

.song_title {
    font-size: larger;
    font-weight: bolder;
}

/* ------------------------------ Song Card Styling ------------------------------ */

.song_row {
    /* border: 2px solid #56445c;
    border-radius: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2vh 1vw 2vh 1vw;
}

/* ------------------------------ Nav Bar Styling ------------------------------ */

.profile_pic {
    opacity: 85%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.contact_info {
    margin-top: auto;
    margin-bottom: 4vh;
    cursor: pointer;
}

.email_link {
    display: flex;
    align-items: center;
}

.email_icon {
    margin-left: 0.5vw;
}

/* ------------------------------ Language Dropdown Menu ------------------------------ */
.dropdown_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1vh;
}

.dropdown_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide {
    display: none;
}

.dropdown_options::-webkit-scrollbar {
    display: none;
}


.dropdown_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
    border-radius: 4;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;

}

/* ------------------------------ Form Component Styling ------------------------------ */

.form {
    width: 350px;
    height: 400px;
    background-color: #FFF8E1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.form_heading {
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    margin-top: 10%;
}                                                      

.form_input {
    margin-top: 2vh;
    margin-left: 20%;
    padding: 1%;
    display: block;
    width: 60%;
}

input {
    background-color: #FFF8E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-left: 2%;
}

.error {
    border: 1px solid red;
}

.form_error {
    color: red;
    margin-top: 1vh;
    margin-bottom: -1vh;
    margin-left: 20%;

}

.form_msg {
    margin-top: 1vh;
    margin-bottom: -1vh;
    margin-left: 20%;
}

.form_submit_btn {
    width: 50%;
    margin-left: 50%;
    margin-top: 15%;
    transform: translate(-50%, -50%);

    background-color: #926e9e;
    border-radius: 3px;
    padding: 2% 0 2% 0;
}

/* ------------------------------ Overlay Styling ------------------------------ */

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #926e9e;
}

