@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/* PAGE LAYOUT */

.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.title, .instructions {
    flex-grow: 1;
}

.songs {
    flex-grow: 5;
}

.title, .instructions, .songs {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.instructions {
    border-bottom: 5px solid #1B4F72;
}

/* SONGS LAYOUT */

.songs {
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    margin-bottom: 6vh;
}

.song_row {
    width: 40vw;
    box-shadow: 10px 10px 8px #FFF8E1;
    border-radius: 4;
}

.audio_controls {
    margin-top: 2vh;
}

/* STYLING */

.background {
    background-color: #FFF8E7;
}

.header_background {
    background-color: #FFBA4C;
    color: #333333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.song_background {
    background-color: #FFF8E7;
}   

.text_colour {
    color: #333333;
}

/* .song_background {
    background-image: url('../public/Shiv And Vishnu Together.jpg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.15;
} */

.title {
    font-size: x-large;
    font-weight: bold;
}

.instructions {
    font-style: italic;
}

.song_title {
    font-size: larger;
    font-weight: bolder;
}


/*Nav Bar Styling*/

.profile_pic {
    opacity: 85%;
    width: 10%;
    display: none;
}

.contact_info {
    cursor: pointer;
}

.email_link {
    display: flex;
    align-items: center;
}

.email_icon {
    margin-left: 0.5vw;
}

/*Language Dropdown Menu*/
.dropdown_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10vh;
    overflow-y: scroll;
}

.hide {
    display: none;
}

.dropdown_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ada9ab;
    width: 10vw;
    height: 5vh;
    border-radius: 4;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.toggle_icon {
    margin-left: 0.5vw;
}